body {
    background-image: url("../images/pexels-photo-775907.jpeg");
}

.jumbotron{
    margin: 5% auto;
    height: 500px;
    max-height: 90%;
}

input[type="radio"]{
    margin: 0 20px;
}

h4{
    margin-top: 10px;
}

.questions{
   text-align: center;
}

.choices, #restart-button{
    width: 50%;
    margin: 0 auto;
}

.choices:hover, #restart-button:hover{
    font-weight: bold;
    background-color: aquamarine;
    border: solid 2px cornflowerblue;
}



